html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;

  display:  flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}

* {
    box-sizing: border-box;
}

.Title-Container {
    background-color: rgb(32, 206, 197);
    padding: 8px;
    border: 6px solid blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.Title {
    text-align: center;
}

.Messages-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
    padding: 8px;
    gap: 8px;
    border: 3px solid blue;
}

.Message {
    background-color: rgb(179 124 5);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    padding: 8px;
    font-size: 20px;
    text-align: center;
}
