html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0;

  display:  flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}

* {
    box-sizing: border-box;
}

.Title-Container {
    background-color: rgb(32, 206, 197);
    padding: 2px;
    border: 6px solid blue;
}

.Title {
    text-align: center;
}

.Messages-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: aquamarine;

    padding: 8px;
    gap: 8px;

    border: 3px solid blue;
}

.Message {
    background-color: rgb(166, 81, 187);
    padding: 8px;
}